USE [master]
GO
/****** Object:  Database [CASE_PD]    Script Date: 24/11/2020 23:18:54 ******/
CREATE DATABASE [CASE_PD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CASE_PD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CASE_PD.mdf' , SIZE = 204800KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CASE_PD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CASE_PD_log.ldf' , SIZE = 6496256KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CASE_PD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CASE_PD]
GO
/****** Object:  Schema [CASE_01_DW]    Script Date: 24/11/2020 23:18:54 ******/
CREATE SCHEMA [CASE_01_DW]
GO
/****** Object:  Schema [CASE_01_STG]    Script Date: 24/11/2020 23:18:54 ******/
CREATE SCHEMA [CASE_01_STG]
GO
/****** Object:  Table [CASE_01_DW].[DIM_STUDENT]    Script Date: 24/11/2020 23:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CASE_01_DW].[DIM_STUDENT](
	[SK_STUDENT] [int] IDENTITY(1,1) NOT NULL,
	[ID] [varchar](100) NULL,
	[PLAN_TYPE] [varchar](30) NULL,
	[REGISTERED_DATE] [date] NULL,
	[STATE] [varchar](50) NULL,
	[CITY] [varchar](50) NULL,
	[UNIVERSITY] [varchar](50) NULL,
	[COURSE] [varchar](200) NULL,
	[SIGNUP_SOURCE] [varchar](50) NULL,
	[STUDENT_CLIENT] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [CASE_01_DW].[DIM_SUBJECT]    Script Date: 24/11/2020 23:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CASE_01_DW].[DIM_SUBJECT](
	[SK_SUBJECT] [int] IDENTITY(1,1) NOT NULL,
	[ID] [int] NULL,
	[NAME] [varchar](200) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [CASE_01_DW].[FATO_FOLLOW_SUBJECT]    Script Date: 24/11/2020 23:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CASE_01_DW].[FATO_FOLLOW_SUBJECT](
	[SK_STUDENT] [int] NULL,
	[SK_SUBJECT] [int] NULL,
	[FOLLOW_DATE] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [CASE_01_DW].[FATO_SESSION]    Script Date: 24/11/2020 23:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CASE_01_DW].[FATO_SESSION](
	[SK_STUDENT] [int] NOT NULL,
	[DATA_SESSAO] [date] NULL,
	[HORA] [time](7) NULL,
	[STUDENT_CLIENT] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [CASE_01_STG].[STG_CURSO]    Script Date: 24/11/2020 23:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CASE_01_STG].[STG_CURSO](
	[Id] [bigint] NULL,
	[Name] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [CASE_01_STG].[STG_SESSION]    Script Date: 24/11/2020 23:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CASE_01_STG].[STG_SESSION](
	[StudentId] [varchar](max) NULL,
	[SessionStartTime] [varchar](max) NULL,
	[StudentClient] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [CASE_01_STG].[STG_STUDENT]    Script Date: 24/11/2020 23:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CASE_01_STG].[STG_STUDENT](
	[Id] [varchar](max) NULL,
	[RegisteredDate] [varchar](max) NULL,
	[State] [varchar](max) NULL,
	[City] [varchar](max) NULL,
	[UniversityId] [bigint] NULL,
	[CourseId] [bigint] NULL,
	[SignupSource] [varchar](max) NULL,
	[StudentClient] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [CASE_01_STG].[STG_STUDENT_SUBJECT]    Script Date: 24/11/2020 23:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CASE_01_STG].[STG_STUDENT_SUBJECT](
	[StudentId] [varchar](max) NULL,
	[SubjectId] [bigint] NULL,
	[FollowDate] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [CASE_01_STG].[STG_SUBJECT]    Script Date: 24/11/2020 23:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CASE_01_STG].[STG_SUBJECT](
	[Id] [bigint] NULL,
	[Name] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [CASE_01_STG].[STG_SUBSCRIPTION]    Script Date: 24/11/2020 23:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CASE_01_STG].[STG_SUBSCRIPTION](
	[StudentId] [varchar](max) NULL,
	[PlanType] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [CASE_01_STG].[STG_UNIVERSITY]    Script Date: 24/11/2020 23:18:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CASE_01_STG].[STG_UNIVERSITY](
	[Id] [bigint] NULL,
	[Name] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO

USE [CASE_PD]
GO
INSERT INTO [CASE_01_DW].[DIM_STUDENT]
           ([ID]
           ,[PLAN_TYPE]
           ,[REGISTERED_DATE]
           ,[STATE]
           ,[CITY]
           ,[UNIVERSITY]
           ,[COURSE]
           ,[SIGNUP_SOURCE]
           ,[STUDENT_CLIENT])
     VALUES(
           '-7'
           ,'Nao Informado'
           ,null
           ,'Nao Informado'
           ,'Nao Informado'
           ,'Nao Informado'
           ,'Nao Informado'
           ,'Nao Informado'
           ,'Nao Informado')
GO

INSERT INTO [CASE_01_DW].[DIM_SUBJECT]
           ([ID]
           ,[NAME])
     VALUES
           (-7 
           ,'Nao Informado')
GO